<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><strong>BRIX POC - Angular 8 [Bootstrap]</strong></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="tile purple">
          <h3 class="title">Admin </h3>
          <p>Admin Dashboard</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="tile red">
          <h3 class="title">Report Management</h3>
          <p>Report Module</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="tile orange">
          <h3 class="title">DVP Lnowledge</h3>
          <p>DVP Knowlede Management</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="tile green">
          <h3 class="title">Prototpe Management</h3>
          <p>Prototype Management</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="tile blue">
          <h3 class="title">Issue Management</h3>
          <p>Issue Management</p>
        </div>
      </div>  
      <div class="col-sm-4">
        <div class="tile pink">
          <h3 class="title">Utilization Management</h3>
          <p>Utilization Management</p>
        </div>
      </div>   
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="tile orange">
            <h3 class="title">Prototpe Management</h3>
            <p>Prototype Management</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tile red">
            <h3 class="title">Issue Management</h3>
            <p>Issue Management</p>
          </div>
        </div>  
        <div class="col-sm-4">
          <div class="tile green">
            <h3 class="title">Utilization Management</h3>
            <p>Utilization Management</p>
          </div>
        </div>   
      </div>
  </div>