<div class="container">
    <div class="row">
        <button type="button" class="btn" data-toggle="modal" data-target="#role_Entry">Create</button>
        <div class="modal fade" id="role_Entry" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5 class="modal-title">Create Role</h5>
                </div>
                <div class="modal-body">
                    <form [formGroup]='createRole' (ngSubmit)="onCreateRole(createRole)" class="was-validated">
                        <div class="form-group">
                            <label for="sys_role">System Role</label>
                            <select id="sys_role" class="form-control" formControlName='sys_role'>
                                <option *ngFor="let role of roles; let i = index" [value]="role.sys_role">
                                {{role.sys_role}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                          <label for="uname">Role Name :</label>
                          <input type="text" class="form-control" id="role_name" formControlName='role_name' placeholder="Enter username" name="role_name"  required>
                        </div>
                        <div class="form-group">
                          <label for="role_desc">Description :</label>
                          <input type="text" class="form-control" id="role_desc" formControlName='role_desc' placeholder="Enter password" name="rele_desc"  required>
                         
                        </div>
                        <div class='mod-footer'>
                            <button type="submit" class="btn btn-primary" [disabled]="!createRole.valid">Create Role</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                      </form>
                </div>
              </div>
              
            </div>
        </div>
        <button type="button" class="btn" data-toggle="modal" data-target="#role_Delete">Delete</button>
        <button type="button" class="btn"data-toggle="modal" data-target="#role_Edit">Edit</button>
        <div class="modal fade" id="role_Edit" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5 class="modal-title">Edit Role</h5>
                </div>
                <div class="modal-body">
                    <form [formGroup]='editRole' (ngSubmit)="onUpdateRole(editRole)" class="was-validated">
                        <div class="form-group">
                            <label for="sys_role">System Role</label>
                            <select id="sys_role" class="form-control" formControlName='sys_role'>
                                <option *ngFor="let role of roles; let i = index" [value]="role.sys_role">
                                {{role.sys_role}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                          <label for="uname">Role Name :</label>
                          <input type="text" class="form-control" id="role_name" formControlName='role_name' placeholder="Enter username" name="role_name"  required>
                        </div>
                        <div class="form-group">
                          <label for="role_desc">Description :</label>
                          <input type="text" class="form-control" id="role_desc" formControlName='role_desc' placeholder="Enter password" name="rele_desc"  required>
                         
                        </div>
                        <div class='mod-footer'>
                            <button type="submit" class="btn btn-primary" [disabled]="!editRole.valid">Update Role</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                      </form>
                </div>
              </div>
              
            </div>
        </div>
        <button type="button" class="btn">Export</button>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Name</th>
                <th scope="col">System Role</th>
                <th scope="col">Description</th>
                <th scope="col">Created Date</th>
                <th scope="col">Updated Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let role of roles' (click)="selectedRow($event, u)" >
                <th scope="row">{{role.role_no}}</th>
                <td>{{role.role_name}}</td>
                <td>{{role.sys_role}}</td>
                <td>{{role.role_desc}}</td>
                <td>{{role.role_c_date}}</td>
                <td>{{role.role_u_date}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>