<div class="container">
    <div class="row">
        <button type="button" class="btn">Create</button>
        <button type="button" class="btn">Delete</button>
        <button type="button" class="btn">Edit</button>
        <button type="button" class="btn">Export</button>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Name</th>
                <th scope="col">System Role</th>
                <th scope="col">Description</th>
                <th scope="col">Created Date</th>
                <th scope="col">Updated Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let role of roles'>
                <th scope="row">{{role.role_no}}</th>
                <td>{{role.role_name}}</td>
                <td>{{role.sys_role}}</td>
                <td>{{role.role_desc}}</td>
                <td>{{role.role_c_date}}</td>
                <td>{{role.role_u_date}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>